/* write down the css for Carousel in this file */
h1 {
    font-size: 50px;
    background-color: rgba(110, 105, 105, 0.801);
    padding: 20px;
    color: rgb(216, 221, 226);
    border-radius: 10px;
  }
  .photo {
    background-position: center;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    
  }
  .begin {
    background-color: rgb(143, 143, 143);
    place-items: center; 
    color: rgb(0, 0, 0);
    display: grid;
    height: 100%;
    width: 50%;
    flex: 10%;
    display: grid;
    height: 100%;
    width: 50%;
    place-items: center;
  }
  p {
    font-size: 18px;
    background-color: rgba(63, 51, 51, 0.801);
    padding: 15px;
    border-radius: 16px;
    color: rgb(255, 255, 255);
  }
  .box {
    width: 50%;
    height: 550px;
    display: flex;
    margin: 10px auto;
  }
  .type{
    flex: 80%;
    display: grid;
    place-items: center;
    text-align: justify;
    text-align-last: center;
    height: 100%;
    
  }
  .finish {
    background-color:rgb(143, 143, 143);
    display: grid;
    place-items: center;
    height: 100%;
    width: 100px;
    color: rgb(0, 0, 0);
  }